#number-guess,
#history {
  max-width: 400px;
  margin: 0 auto;
}

#history {
  margin-top: 16px;
}

.banner {
  color: #f11313;
  font-size: 50px;
  font-family: sans-serif;
  margin-top: 200px;
}

#result {
  max-width: 400px;
  margin: 0 auto;
}
